<div class="row">
<div class="col-md-6">
  <h2>Notes List</h2>
  <ul class="list-group">
    <li (click)="viewNote(n)" class="list-group-item" *ngFor="let n of notes" >{{n.id}} | {{n.title}} | {{n.descripcion}}</li>
  </ul>
  <br>
  <button class="btn btn-primary btn-block" (click)="showForm()">New Note</button>

</div>

<div class="col-md-6" *ngIf="showform">
  <h2>New Note</h2>
  <input type="text" class="form-control" placeholder="titulo" [(ngModel)]="note.title"><br>
  <textarea class="form-control" placeholder="Descripcion" [(ngModel)]="note.descripcion"></textarea><br>
  <div class="row">
      <div class="col-md-4">
          <button (click)="delete()" class="btn btn-danger btn-block">Delete</button>
        </div>
    <div class="col-md-4">
      <button (click)="cancel()" class="btn btn-default btn-block">Cancel</button>
      </div>
      <div class="col-md-4">
      <button (click)="createNote()" class="btn btn-primary btn-block">Save Note</button>
    </div>
  </div>

</div>
</div>
